<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<h1>
  {{title}}
  <!--<app-e-commerce></app-e-commerce>-->
  <!--<app-doctor></app-doctor>-->
  <!--<app-city></app-city>-->
  <!--<app-filter></app-filter>-->
  <!--<app-forms> </app-forms>-->
  <!--<app-reactive-form-validation> </app-reactive-form-validation>-->
  <app-obervable1>  </app-obervable1>
</h1>
